<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/projecktorstyle.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</head>
<body>
    <div>
        @Html.Partial("_Search")
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>