@model ExternalNavViewModel

<div class="navigation-field">
    @if (Model.Secure.IsAuthenticated == true) {
        <a href="@String.Format("{0}","http://projecktor.com/dashboard")"><img src='@Url.Content("~/Images/Home.png")' /></a>
         @Html.Partial("_FollowButtonPartial", Model.SubdomainUser);
    }
    else
    {
        <a href="@String.Format("{0}","http://projecktor.com")">Sign Up</a>
    }
</div>
