<div id="projecktor_lightbox">
    <div id="displayImage">
    </div>
</div>

<div id="container">
</div>
<div id="progress" style="display:none">
    <h4>Loading...</h4>
</div>
<div id="toTop" >
    <img src='@Url.Content("~/Images/Up.png")' />
</div>