<div class="search-field">
    <script src="~/Scripts/searchScript.js"></script>

    <input type="text" id="searchTerm" class="input search-input" />
    <input type="image" src="~/Images/Search.png" onclick="SearchLink()" id="searchButton" />
</div>