@model CreateTextPostViewModel

<div class="textpostopen open">
    @using (var form = Html.BeginForm("TextPost", "Dashboard"))
    {
        @Html.AntiForgeryToken()
        @Html.TextAreaFor(m => m.TextPost)
        @Html.TextAreaFor(m => m.Hashtags)

        <a class="stop" href="/">Cancel</a>
        <input type="submit" value="Post" />
    }
</div>