a.selected {
  z-index:100;
}

.imagepostpop {
  background-color:#FFFFFF;
  border-radius: 3px;
  border:1px solid #999999;
  cursor:default;
  display:none;
  margin: 0;
  position:relative;
  margin: 20px auto 20px auto;
  top: -145px;
  left: 40px;
  text-align:left;
  width:540px;
  z-index:997;
  padding: 0;

  pointer-events: all;
}


label {
  display: block;
  margin-bottom: 3px;
  padding-left: 15px;
  text-indent: -15px;
}

.imagepostpop p, .imagepostpop.div {
  border-bottom: 1px solid #EFEFEF;
  margin: 8px 0;
  padding-bottom: 8px;
}