body {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    text-align: center;
    color: #FFFFFF;
    background-color: #96A3CD;
    position: relative;
    top: 50px;
}

.posts {
    border-radius: 3px;
    width:540px;
    padding: 0px;
    margin: 20px auto 20px auto;
    text-align: left;
    color: #808080;
    background-color: #FFFFFF;
}

#navigationBar {
    position: fixed;
    top: 0px;
    background-color: #96A3CD;
    width: 100%;
    box-shadow: 0 0 0 1px #888888;
}

.ui-autocomplete {
   text-align:left;
}

#toTop {
    padding: 5px 3px;
    background: #000;
    cursor: pointer;
    color: #fff;
    position: fixed;
    bottom: 0;
    right: 5px;
    display: none;
}


.likeButton {
    background:url(/Images/Like.png) no-repeat;
    cursor:pointer;
    width: 32px;
    height: 32px;
    border: none;
}

.unLikeButton {
    background:url(/Images/Unlike.png) no-repeat;
    cursor:pointer;
    width: 32px;
    height: 32px;
    border: none;
}

.reblogButton {
    background:url(/Images/Reblog.png) no-repeat;
    cursor:pointer;
    width: 32px;
    height: 32px;
    border: none;
}

.reblogedButton {
    background:url(/Images/Rebloged.png) no-repeat;
    cursor:pointer;
    width: 32px;
    height: 32px;
    border: none;
}

.logoutButton {
    position: absolute;
    top: 0px;
    right: 580px;
    background:url(/Images/Logout.png) no-repeat;
    cursor:pointer;
    width: 32px;
    height: 32px;
    border: none;
}

.image540 {
    cursor: pointer;
}

.footer {
    line-height : 45px;
}

.footer-buttons {
    float : right;
     padding-right: 10px;
}

.post-header {
    padding-right: 20px;
    padding-left: 20px;
    line-height: 45px;
    height: 45px;
}

.post-body {
    margin-top: 15px;
    padding-right: 20px;
    padding-left: 20px;
}

.post-notes {
   padding-right: 20px;
   padding-left: 20px;
}

.post-tags {
    padding: 0 20px;
    line-height: 20px;
}

.post-source {
    margin: 15px 5px 0 0;
    padding: 0 0 0 20px;
    line-height: 30px;
}

.reblog-img {
    vertical-align: -10px;
}