body {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    text-align: center;
    color: #FFFFFF;
    background-color: #A77DC2;
    position: relative;
    top: 50px;
}

.posts {
    width:540px;
    padding: 10px;
    margin: 20px auto 20px auto;
    text-align: left;
    color: #808080;
    background-color: #FFFFFF;
}

#navigationBar {
    position: fixed;
    top: 0px;
    background-color: #A77DC2;
    width: 100%;
    box-shadow: 0 0 0 1px #888888;
}

.ui-autocomplete {
   text-align:left;
}

#toTop {
    padding: 5px 3px;
    background: #000;
    color: #fff;
    position: fixed;
    bottom: 0;
    right: 5px;
    display: none;
}