body {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    text-align: center;
    color: #FFFFFF;
    background-color: #96A3CD;
    position: relative;
    top: 50px;
}

.posts {
    border-radius: 3px;
    width:540px;
    padding: 0px;
    margin: 20px auto 20px auto;
    text-align: left;
    color: #808080;
    background-color: #FFFFFF;
}

#navigationBar {
    position: fixed;
    top: 0px;
    background-color: #96A3CD;
    width: 100%;
    box-shadow: 0 0 0 1px #888888;
}

.ui-autocomplete {
   text-align:left;
}

#toTop {
    padding: 5px 3px;
    background: #000;
    cursor: pointer;
    color: #fff;
    position: fixed;
    bottom: 0;
    right: 5px;
    display: none;
}


.likeButton {
    background:url(/Images/Like.png) no-repeat;
    cursor:pointer;
    width: 32px;
    height: 32px;
    border: none;
}

.reblogButton {
    background:url(/Images/Reblog.png) no-repeat;
    cursor:pointer;
    width: 32px;
    height: 32px;
    border: none;
}

.logoutButton {
    background:url(/Images/Logout.png) no-repeat;
    cursor:pointer;
    width: 32px;
    height: 32px;
    border: none;
}

.image540 {
    cursor:pointer;
}