body {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    text-align: center;
    color: #FFFFFF;
    background-color: #96A3CD;
    position: relative;
    top: 50px;
}

.posts-all {
    width: 625px;
    margin: 20px auto 20px auto;
}

.posts {
    border-radius: 3px;
    margin: 0 0 30px 85px;
    width:540px;
    padding: 0;
    text-align: left;
    color: #808080;
    background-color: #FFFFFF;
}

#navigationBar {
    position: fixed;
    top: 0px;
    background-color: #96A3CD;
    width: 100%;
    box-shadow: 0 0 0 1px #888888;
}

.ui-autocomplete {
   text-align:left;
}

#toTop {
    padding: 5px 3px;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    right: 5px;
    display: none;
}


.likeButton {
    background:url(/Images/Like.png) no-repeat;
    cursor:pointer;
    width: 32px;
    height: 32px;
    border: none;
}

.unLikeButton {
    background:url(/Images/Unlike.png) no-repeat;
    cursor:pointer;
    width: 32px;
    height: 32px;
    border: none;
}

.reblogButton {
    background:url(/Images/Reblog.png) no-repeat;
    cursor:pointer;
    width: 32px;
    height: 32px;
    border: none;
}

.reblogedButton {
    background:url(/Images/Rebloged.png) no-repeat;
    cursor:pointer;
    width: 32px;
    height: 32px;
    border: none;
}

.logoutButton {
    background:url(/Images/Logout.png) no-repeat;
    cursor:pointer;
    width: 32px;
    height: 32px;
    border: none;
}

.deleteButton {
     background:url(/Images/Delete.png) no-repeat;
     cursor:pointer;
     width: 32px;
     height: 32px;
     border: none;
}

.logoutForm {
    padding: 0;
    margin: 0;
    width: 32px;
    height: 32px;
    float: right;
}

.image540 {
    cursor: pointer;
}

.footer {
    line-height : 45px;
}

.footer-buttons {
    float : right;
    padding-right: 10px;
}

.post-header {
    padding-right: 20px;
    padding-left: 20px;
    line-height: 45px;
    height: 45px;
}

.post-body {
    margin-top: 15px;
    padding-right: 20px;
    padding-left: 20px;
}

.post-notes {
   height: 45px;
   line-height: 45px;
   padding-right: 20px;
   padding-left: 20px;
}

.post-tags {
    padding: 0 20px;
    line-height: 20px;
}

.post-source {
    margin: 15px 5px 0 0;
    padding: 0 0 10px 20px;
    line-height: 30px;
}

.reblog-img {
    vertical-align: -10px;
}

.search-field {
    float: left;
    margin-right: 16px;
    padding-left: 40px;
    display: inline-block;
}

.navigation-field {
    float: right;
    display: inline-block;
    margin-top: 5px;
    margin-right: 6px;
    padding-right: 40px;
    height : 45px;
    line-height : 45px;
}

.input {
    border: 0;
    border-radius: 3px;
}

.search-input {
    font-size: 15px;
    height: 24px;
    width: 540px;
    vertical-align: 3px;
}

#searchButton {
    position: relative;
    top: 8px;
}

.source-link, .post-notes-link, .post-tag-link, .poster-reblog, 
.poster-source {
    text-decoration: none;
    color: gray;
}

.poster-reblog, .post-body-text {
    color: black;
}

.source-link:hover {
    text-decoration: underline;
}

.ui-menu, ui-menu-item a{
   font-size: 15px;
   border-radius: 3px;
}

.text-input {
    resize: none;
    width: 500px;
    padding: 0 20px;
    height: 80px;
}

.hashtag-input {
    resize: none;
    height: 41px;
    width: 505px;
    margin-top: 5px;
    padding: 5px 20px 10px 15px;
    overflow: hidden;
}

.form-footer, #Images, .image-post-header, .text-post-header {
    padding: 15px 20px;
}

#imagebutton, #textbutton {
    float: right;
}

.image-post-header, .text-post-header{
    color: black;
}

.post-forms-glass {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 996;
    pointer-events: all;
    background-color: rgba(58,69,99,.95);
}


.post-avatar-img {
    height: 64px;
    width: 64px;
    border-radius: 3px;
}

.post-avatar-wrapper {
}

.post-avatar {
    float: left;
    width: 64px;
    height: 64px;
}

.avatar--sticky {
   height: 100%;
}

.follow-list, .activity-list, .settings-list {
    width: 625px;
    margin: 20px auto 20px auto;
}

.white-pane {
    background: #fff;
    border-radius: 6px;
    padding: 28px;
    position:relative;
}

.white-pane-activity {
    background: #fff;
    border-radius: 6px;
    padding: 28px;
}

.titles-container {
    height: 60px;
}

.titles {
    color: #444;
    font: normal 14px/1.4 Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
    font-size: 26px;
    letter-spacing: normal;
    font-weight: normal;
    margin: 2px 0 30px 0;
    float: left;
    overflow: hidden;
}

.follows, .activities {
    border-top: 1px solid rgba(0,0,0,0.0509804);
}

.follow-avatar-img, .activity-avatar-img, .settings-avatar-img {
    width: 40px;
    height: 40px;
}

.follow, .username, .blog-title-settings, .email, .new-password, .password, .avatar-settings {
    display: block;
    position: relative;
    height: 40px;
    border-bottom: 1px solid rgba(0,0,0,0.0509804);
    padding: 10px;
    clear: both;
}

.activity {
    display: block;
    height: 40px;
    border-bottom: 1px solid rgba(0,0,0,0.0509804);
    padding: 10px;
    clear: both;
}

.alt-follow {
    display: block;
    position: relative;
    background: #f8f8f8;
    height: 40px;
    border-bottom: 1px solid rgba(0,0,0,0.0509804);
    padding: 10px;
    clear: both;
}

.follow-avatar, .activity-avatar {
    float: left;
    margin-right: 10px;
    border-radius: 3px;
}

.follow-button {
    float: right;
    margin: 4px 0;
}

.follow-description, .activity-description {
    margin-top: 4px;
    font-size: 12px;
}

.follow-info, .activity-info{
    float: left;
}

.blog-follow-title, .activity-action, .activity-date, .settings-label {
    margin: 0;
    padding: 0;
    border: 0;
    color: #444;
    font: normal 14px/1.4 Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
    font-size: 12px;
    text-decoration: none;
}

.follow-link, .activity-link, .activity-origin, .note-link {
   text-decoration: none;
   color: #444;
   font: normal 14px/1.4 Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
   font-weight: bold;
   text-align: left;
}

.follow-name, .activity-name {
    text-align: left;
}

.activity-origin {
    float: right;
}

.activity-date, .settings-label {
    float: left;
}

.username-input, .blogTitle-input, .email-input, 
.new-password-input, .password-input
{
    float: right;
}

.input-avatar {
   position: relative;
   float:right;
   right: -70px;
   color:transparent;
}

.username, .blog-title-settings, .email, .new-password, .password {
    height: 20px;
}

.settings-avatar-img {
    position: relative;
    right: 100px;
}

.settings-button {
    float: right;
    position: relative;
    right: 120px;
    top: 10px;
}

.save-button-settings{
    height: 20px;
}

.registration-form, .login-form {
     width: 300px;
    margin: 20px auto 20px auto;
}

.page-buttons {
    padding-top : 20px;
}

.previous-button {
    float: left;
}

.next-button {
    float: right;
}

.notes-display {
    width: 292px;
}

.note-avatar {
   text-decoration: none;
}

.note-avatar-img {
    width: 24px;
    height: 24px;
}

.note-titles {
   text-align: center;
   border: 1px solid #e7e7e7;
}

.note-title {
   color: #444;
   font: normal 14px/1.4 Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
   font-weight: bold;
}

.white-pane-notes {
    background: #fff;
    border-radius: 6px;
    position:relative;
    bottom: 50px;
}

.note-info {
    background-color: #f2f2f2;
    padding: 5px 10px;
}

.note-footer {
   border: 1px solid #e7e7e7;
   height: 40px;
}