a.picked {
  background-color:#1F75CC;
  color:white;
  z-index:100;
}

.textpostopen {
  background-color:#FFFFFF;
  border:1px solid #999999;
  border-radius: 3px;
  cursor:default;
  display:none;
  margin: 0;
  position:relative;
  margin: 20px auto 20px auto;
  top: -40px;
  text-align:left;
  width:540px;
  z-index:997;
  padding: 0;
}


label {
  display: block;
  margin-bottom: 3px;
  padding-left: 15px;
  text-indent: -15px;
}

.textpostopen p, .textpostopen.div {
  border-bottom: 1px solid #EFEFEF;
  margin: 8px 0;
  padding-bottom: 8px;
}

*, :active, :focus {
    outline: 0;
    outline-style: none;
    outline-width: 0;
}
