@model ForgotPasswordViewModel

@{
    ViewBag.Title = "Forgot Password";
}

<div class="logo">
    <img class="logo-image" src='@Url.Content("~/Images/logo.png")' />
</div>

    @using (var signupForm = Html.BeginForm("ForgotPassword", "Home"))
    {
        @Html.AntiForgeryToken()

        <div class="validation">
            @Html.ValidationSummary()
        </div>
        
        <div class="password-form">
            <div class="white-pane">
                <div class="forms">
                    @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", @class = "input" }) <br />
                    <input type="submit" value="Send" />
                </div>
            </div>
        </div>
    }