@model ForgotPasswordViewModel

@{
    ViewBag.Title = "Forgot Password";
}

<p>
    @using (var signupForm = Html.BeginForm("ForgotPassword", "Home"))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary() <br />
            @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", @class = "input" }) <br />
            <input type="submit" value="Send" />
    }
</p>