@model IEnumerable<ActivityViewModel>

@{
    ViewBag.Title = " Activity";
}

<div id="navigationBar">
    @Html.Partial("_Searchbar")
    @Html.Partial("_NavigationBar")
</div>

<script src="~/Scripts/infiniteScrollScriptAct.js"></script>
<script src="~/Scripts/infiniteScrollingActivity.js"></script>

<div class="activity-list">
    <div class="white-pane-activity">

        <div class="titles-container">
            <h1 class="titles">Activity</h1>
        </div>

        <div class="activities">
            @foreach (var activity in Model) {
                @Html.Partial("_ActivityPost", activity)
            }

            @Html.Partial("_PostAttachment")
        </div>
    </div>
</div>