@model IEnumerable<PostViewModel>

@{
    ViewBag.Title = "Projecktor";
}

<div>
    @Html.Partial("_Links")
</div>

<script src="~/Scripts/actionScripts.js"></script>
<script src="~/Scripts/infiniteScrollingScript.js"></script>
<script src="~/Scripts/infiniteScrollingDashboard.js"></script>

    @if (Model.Any() == true)
    {
        foreach (PostViewModel textPost in Model) {
            @Html.Partial("_PostModelPartial", textPost);
        }
       @Html.Partial("_PostAttachment")
    }
    else
    {
         <div class="posts">
            <p>Make a post !</p>
         </div>
    }