@model FollowViewModel

<script src="~/Scripts/actionScripts.js"></script>

@{
    ViewBag.Title = "Followers | Projecktor";
}

<div id="navigationBar">
    @Html.Partial("_Searchbar")
    @Html.Partial("_NavigationBar")
</div>

<h2>Followers</h2>

@if(Model.FollowData.Any() == true)
{
    foreach (User follower in Model.FollowData) {
        <span>@follower.Username</span> @Html.Partial("_FollowButtonPartial", follower)<br />
    }
}
else {
    <p>You have no followers</p>
}