@model FollowViewModel

@{
    ViewBag.Title = "Following | Projecktor";
}
<script src="~/Scripts/actionScripts.js"></script>


<div id="navigationBar">
    @Html.Partial("_NavigationBar")
</div>

<h2>Following</h2>


@if (Model.FollowData.Any() == true)
{
    foreach (User following in Model.FollowData) {
        <span>@following.Username</span> @Html.Partial("_FollowButtonPartial", following)<br />
    }
}
else {
    <p>you're not following anyone</p>
}
