@model IEnumerable<PostViewModel>

@{
    ViewBag.Title = "Likes";
}

<div>
    @Html.Partial("_Links")

    @using (var logoutForm = Html.BeginForm("Logout", "Dashboard"))
    {
        @Html.AntiForgeryToken()
        <input type="submit" value="Log Out" />
    }
</div>

<script src="~/Scripts/actionScripts.js"></script>
<script src="~/Scripts/infiniteScrollingScript.js"></script>
<script src="~/Scripts/infintiteScrollingDashboardLikes.js"></script>

@if (Model.Any() == true)
{
    foreach (var textPost in Model) {
        @Html.Partial("_PostModelPartial", textPost);
    }
   @Html.Partial("_PostAttachment")
}
else
{
    <div class="posts">
        <p>Make a post !</p>
    </div>
}
