@model IEnumerable<PostViewModel>

@{
    ViewBag.Title = "Likes | Projecktor";
}

<div id="navigationBar">
    @Html.Partial("_NavigationBar")
</div>

@Scripts.Render("~/bundles/likesdashboardscripts")

@if (Model.Any() == true)
{
    foreach (PostViewModel textPost in Model) {
        @Html.Partial("_PostModelPartial", textPost);
    }
   @Html.Partial("_PostAttachment")
}
else
{
    <div class="posts">
        <p>Make a post !</p>
    </div>
}
